
/*-------------------------------------------
    5. Navbar Area / Template Main Layout CSS Start
-------------------------------------------*/

/* menu top area start */

.logo-sm {
    display: none;
}

.logo-sm img {
    width: 30px;
    height: auto;
}

.bda-header-item {
    background: none;
    border: none;
    outline: none;
    margin-left: 140px;
    transition: .4s;
    border-radius: 50%;
    padding: 9px;
    transition: .4s;
}

.bda-header-item:hover {
    background: var(--stroke);
}

.logo-lg img {
    width: 150px;
    height: 50px;
    object-fit: contain;
}

.bda-dropdown {
    width: 44px;
    height: 44px;
    background: var(--stroke);
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.bda-dropdown:after {
    content: unset;
}

.bda-text-notify {
    position: absolute;
    top: -5px;
    right: -12px;
    color: var(--White);
    font-size: 14px;
    background: var(--primary-gradient);
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--tiles-dark);
    transition: .3s;
}

.bda-dropdown:hover {
    background: var(--placeholder);
}

.bda-menu-w .bda-a-user-img {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    border-radius: 50%;
}

.bda-menu-area {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navbar-header {
    padding: 15px 40px;
    background: var(--tiles-dark);
    transition: .4s;
    padding: 15px 40px;
    background: var(--tiles-dark);
    transition: .4s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.bda-dropdown-box {
    width: 425px;
    border-radius: 30px;
    padding: 30px;
    background: var(--tiles-dark);
    border: 1px solid var(--stroke);
}

.bda-header-item img {
    width: 30px;
    height: 30px;
}

.bda-single-massage {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.bda-w-70-img {
    width: 69px;
    height: 69px;
    border-radius: 50%;
}

.bda-overflow-scroll-area {
    height: 475px;
    overflow-y: scroll;
}

.bda-overflow-scroll-area::-webkit-scrollbar-track, .bda-overflow-scroll-menu::-webkit-scrollbar-track{
	border-radius: 50px;
	background-color: var(--tiles-dark);
}

.bda-overflow-scroll-area::-webkit-scrollbar, .bda-overflow-scroll-menu::-webkit-scrollbar{
	width: 5px;
	background-color: var(--tiles-dark);
}

.bda-overflow-scroll-area::-webkit-scrollbar-thumb, .bda-overflow-scroll-menu::-webkit-scrollbar-thumb{
	border-radius: 50px;
	background-color: var(--stroke);
}

.user-img-dropdown {
    width: 108px;
    height: 108px;
    object-fit: contain;
    border-radius: 50%;
}

.bda-user-list-icon {
    border: none;
    background: no-repeat;
    color: var(--paragraph);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    transition: .3s;
    width: 100%;
}

.bda-user-list-icon:hover{
    background: var(--upper-tiles);
}

.notifications-not img {
    max-width: 180px;
    width: 100%;
}

.notifications-not {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* menu top area end */




/* --- LeftSide Menu CSS Start --- */
.metismenu {
    margin: 0
}

.metismenu li {
    display: block;
    width: 100%
}

.metismenu .mm-collapse {
    display: none
}

.metismenu .mm-collapse:not(.mm-show) {
    display: none
}

.metismenu .mm-collapse.mm-show {
    display: block
}

.metismenu .mm-collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility
}

.metismenu.list-unstyled li a:hover {
    background: var(--upper-tiles);
    color: var(--title-light) !important;
}

.metismenu.list-unstyled li a.active {
    background: var(--upper-tiles);
    color: var(--title-light) !important;
}

.metismenu.list-unstyled li a.active svg path {
    fill-opacity: 1;
    fill: var(--title-light);
    stroke:var(--title-light);
}

#sidebar-menu ul li a:hover svg path {
    fill-opacity: 1;
    fill: var(--title-light);
    stroke:var(--title-light);
}
#sidebar-menu ul li a svg path {
    transition: all .4s;
}

.vertical-menu {
    width: 300px;
    z-index: 1001;
    background: var(--tiles-dark);
    bottom: 0;
    margin-top: 0;
    position: fixed;
    top: 82px;
    transition: ease all .2s;
}

.navbar-brand-box {
    background-color: var(--bg-light);
    transition: ease all .2s;
    display: flex;
    align-items: center;
}

.navbar-brand-box .logo-light {
    display: block
}

.main-content {
    margin-left: 300px;
    overflow: hidden;
    margin-top: 82px;
}

.main-content .content {
    padding: 0 15px 10px 15px;
    margin-top: 70px
}

#sidebar-menu {
    padding: 10px 0 30px 0
}

#sidebar-menu ul li a>span {
    white-space: nowrap;
}

#sidebar-menu .mm-active>.has-arrow:after {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}

#sidebar-menu .has-arrow:after {
    content: "\f0140";
    font-family: "Material Design Icons";
    display: block;
    float: right;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    font-size: 1rem
}

#sidebar-menu ul li a {
    display: flex;
    padding: 20px 40px;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    align-items: center;
    gap: 20px;
    color: var(--paragraph);

}

#sidebar-menu ul li a:hover {
    background: var(--upper-tiles);
    color: var(--title-light) !important;
}

#sidebar-menu ul li a:hover i {
    color: var(--primary-color) !important
}

#sidebar-menu ul li .badge {
    margin-top: 4px;
    font-size: 13px;
}
#sidebar-menu ul li ul.sub-menu {
    padding: 0
}

#sidebar-menu ul li ul.sub-menu li a {
    padding: 10px 10px 10px 60px;
    font-size: 16px;
    position: relative;
    z-index: 1;
}
#sidebar-menu ul li ul.sub-menu li a::before {
    content: "";
    height: 6px;
    width: 6px;
    background-color: var(--paragraph);
    display: inline-block;
    transform: rotate(45deg) ;
    margin-right: 1px;
}

#sidebar-menu ul li ul.sub-menu li:hover a::before {
    background-color: var(--title-light);
}

#sidebar-menu ul li ul.sub-menu li ul.sub-menu {
    padding: 0
}

#sidebar-menu ul li ul.sub-menu li ul.sub-menu li a {
    padding: .4rem 1.5rem .4rem 4.2rem;
    font-size: 13.5px
}

.mm-active {
    color: var(--white-color)!important
}

.mm-active>a {
    color: var(--heading-color)!important
}

.mm-active .active {
    color: var(--primary-color)!important
}

.mm-active .active::before {
    background-color: var(--primary-color)!important;
}

@media (max-width:992px) {
    .vertical-menu {
        display: none
    }

    .main-content {
        margin-left: 0!important
    }

    body.sidebar-enable .vertical-menu {
        display: block
    }

    .bda-header-item {
        margin-left: 20px;
    }


}

@media (max-width:460px) {
    .logo-lg{
        display: none;
    }

    .logo-sm{
        display: block;
    }
}

@media (max-width: 767px) {
    div.dt-container div.dt-layout-row:not(.dt-layout-table) div.dt-layout-cell {
        display: inline-block !important;
 
    }
}

.vertical-collapsed .main-content {
    margin-left: 85px
}



.vertical-collapsed .navbar-header{
    padding: 15px 30px;
}

.vertical-collapsed .logo span.logo-lg {
    display: none
}

.vertical-collapsed .logo span.logo-sm {
    display: block
}

.vertical-collapsed .bda-header-item{
    margin-left: 30px;
}


.vertical-collapsed .vertical-menu {
    position: absolute;
    width: 85px!important;
    z-index: 5
}

.vertical-collapsed .vertical-menu .simplebar-content-wrapper,
.vertical-collapsed .vertical-menu .simplebar-mask {
    overflow: visible!important
}

.vertical-collapsed .vertical-menu .simplebar-scrollbar {
    display: none!important
}

.vertical-collapsed .vertical-menu .simplebar-offset {
    bottom: 0!important
}

.vertical-collapsed .vertical-menu #sidebar-menu .badge,
.vertical-collapsed .vertical-menu #sidebar-menu .collapse.in,
.vertical-collapsed .vertical-menu #sidebar-menu .menu-title {
    display: none!important
}

.vertical-collapsed .vertical-menu #sidebar-menu .nav.collapse {
    height: inherit!important
}

.vertical-collapsed .vertical-menu #sidebar-menu .has-arrow:after {
    display: none
}

.vertical-collapsed .vertical-menu #sidebar-menu>ul>li {
    position: relative;
    white-space: nowrap
}

.vertical-collapsed .vertical-menu #sidebar-menu>ul>li>a {
    min-height: 55px;
    -webkit-transition: none;
    transition: none;
    padding: 23px 30px;
}

.vertical-collapsed .vertical-menu #sidebar-menu>ul>li>a:active,
.vertical-collapsed .vertical-menu #sidebar-menu>ul>li>a:focus,
.vertical-collapsed .vertical-menu #sidebar-menu>ul>li>a:hover {
    color: var(--primary-color)
}



.vertical-collapsed .vertical-menu #sidebar-menu>ul>li>a span {
    display: none;
    padding-left: 25px
}

.vertical-collapsed .vertical-menu #sidebar-menu>ul>li:hover>a {
    position: relative;
    width: calc(190px + 70px);
    color: var(--body-font-color);
    background-color: var(--bg-light);
    -webkit-transition: none;
    transition: none
}


.vertical-collapsed .vertical-menu #sidebar-menu>ul>li:hover>a span {
    display: inline
}

.vertical-collapsed .vertical-menu #sidebar-menu>ul>li:hover>ul {
    display: block;
    left: 70px;
    position: absolute;
    width: 190px;
    height: auto!important;
    -webkit-box-shadow: 3px 5px 12px -4px rgba(18, 19, 21, .1);
    box-shadow: 3px 5px 12px -4px rgba(18, 19, 21, .1)
}

.vertical-collapsed .vertical-menu #sidebar-menu>ul>li:hover>ul ul {
    -webkit-box-shadow: 3px 5px 12px -4px rgba(18, 19, 21, .1);
    box-shadow: 3px 5px 12px -4px rgba(18, 19, 21, .1)
}

.vertical-collapsed .vertical-menu #sidebar-menu>ul>li:hover>ul a {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 8px 20px;
    position: relative;
    width: 190px;
    z-index: 6;
    color: var(--body-font-color)
}
.vertical-collapsed .vertical-menu #sidebar-menu>ul>li:hover>ul a {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 20px 11px;
    position: relative;
    width: 190px;
    z-index: 6;
    color: var(--body-font-color);
}

.vertical-collapsed .vertical-menu #sidebar-menu>ul>li:hover>ul a:hover {
    color: var(--primary-color)
}

.vertical-collapsed .vertical-menu #sidebar-menu>ul ul {
    padding: 0px 0 11px;
    z-index: 9999;
    display: none;
    background-color: var(--bg-light);
}

.vertical-collapsed .vertical-menu #sidebar-menu>ul ul li:hover>ul {
    display: block;
    left: 190px;
    height: auto!important;
    margin-top: -36px;
    position: absolute;
    width: 190px
}

.vertical-collapsed .vertical-menu #sidebar-menu>ul ul li>a span.pull-right {
    position: absolute;
    right: 20px;
    top: 12px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

.vertical-collapsed .vertical-menu #sidebar-menu>ul ul li.active a {
    color: #f8f9fa
}

/* Arrow CSS */
.arrow-down {
    display: inline-block
}
.arrow-down:after {
    border-color: initial;
    border-style: solid;
    border-width: 0 0 1px 1px;
    content: "";
    height: .4em;
    display: inline-block;
    right: 5px;
    top: 50%;
    margin-left: 10px;
    -webkit-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    width: .4em
}


/* --- LeftSide Menu CSS End --- */

/*-------------------------------------------
    5. Navbar Area / Template Main Layout CSS End
-------------------------------------------*/
